@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Flex:opsz@8..144&display=swap');


.barra {
    display: grid;
    background-color: black;
    width: 100%;}

    .barra .titulos{

                display: grid;
                text-align: center;     
    }

   .titulo-menu {

       
       font-family: 'Playfair Display', serif;
       color: #8b863a;
       display: flex;
       align-items: flex-end;
       justify-content: center;
       font-size: 250%;
        


   }
.titulos{
display: flex;
justify-content: center;
   

}



.titulolink{
text-decoration: none;

width: 100%;
height: 80%;
margin-top: 20px;

}

.subtitulolink{
    text-decoration: none;
    
    height: 50%;
    width: 100%;
    
}


     .subtitulo-menu {
        font-family: 'Playfair Display', serif;
        color: #8b863a;
        padding: 0 0 25px;
        font-size: 100%;
        width: 100%;
        text-decoration: none;
       
        height: 25%;
    }

.barramenu-menu {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    column-gap: 10%;
    
}   
    

.barramenu-menu  a{
font-family: 'Playfair Display', serif;
    text-decoration: none;
    font-size: 150%;
    color: #8b863a;
    transition: all 1s ease;
        animation: fadeIn;
        animation-duration: 4s;
        
    
}

.barramenu-menu a:hover {
padding: 5px 10px;
    background-color: #cec877;
    color: black;
    border-radius: 15px;

}

.carro{
    height: 35px;
    padding-bottom: 5px;
}
