@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto+Flex:opsz@8..144&display=swap');

.gracias{
    font-family: 'Playfair Display',
            serif;
    color: #8b863a;
    margin-top: 5%;
    
}